.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.answered-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.answered-container01 {
  height: 123px;
  display: flex;
  align-self: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.answered-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.answered-nav {
  display: flex;
}
.answered-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.answered-icon {
  width: 24px;
  height: 24px;
}
.answered-text {
  align-self: flex-end;
  margin-left: 0px;
}
.answered-icon02 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.answered-text01 {
  align-self: flex-end;
  margin-left: 0px;
}
.answered-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.answered-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.answered-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.answered-burger-menu {
  display: none;
}
.answered-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.answered-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.answered-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.answered-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.answered-image {
  height: 2rem;
}
.answered-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.answered-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.answered-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.answered-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.answered-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.answered-container03 {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.answered-container04 {
  width: 236px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.answered-container05 {
  width: 100%;
  height: 213px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 5px;
}
.answered-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.answered-icon20 {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-right: var(--dl-space-space-unit);
}
.answered-text02 {
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
}
.answered-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.answered-icon22 {
  width: 24px;
  height: 24px;
  align-self: flex-end;
}
.answered-text03 {
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-unit);
}
.answered-container08 {
  width: 225px;
  height: 273px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.answered-text04 {
  align-self: center;
  font-style: normal;
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif";
  font-weight: 700;
}
.answered-text08 {
  align-self: center;
  text-align: center;
}
.answered-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.answered-image1 {
  width: 154px;
  height: 123px;
  align-self: center;
  object-fit: cover;
}
.answered-container09 {
  width: 1365px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.answered-container10 {
  flex: 0 0 auto;
  width: 1368px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.answered-container11 {
  flex: 0 0 auto;
  width: 1368px;
  height: 113px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.answered-text09 {
  width: 1368px;
  height: 132px;
  border-radius: var(--dl-radius-radius-radius8);
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0%, rgb(255, 255, 255) 44%, rgb(246, 240, 240) 100%);
}
.answered-container12 {
  width: 1324px;
  height: 354px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0.00%,rgba(255, 253, 253, 0.8) 69.00%);
}
.answered-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.answered-text10 {
  font-size: 20px;
  font-style: normal;
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.answered-text11 {
  font-size: 20px;
}
.answered-text12 {
  font-size: 20px;
}
.answered-text13 {
  font-size: 20px;
}
.answered-text15 {
  font-size: 20px;
}
.answered-text16 {
  font-size: 20px;
}
.answered-container14 {
  width: 100%;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.answered-form1 {
  width: 374px;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  margin-right: 500px;
  justify-content: flex-end;
}
.answered-container15 {
  width: 513px;
  height: 144px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.answered-container16 {
  flex: 0 0 auto;
  width: auto;
  height: 97px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.answered-container17 {
  flex: 0 0 auto;
  width: 109px;
  height: 97px;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.85);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.answered-image2 {
  width: 119px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.answered-text18 {
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.answered-form2 {
  width: 100%;
  height: 305px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}
.answered-textarea {
  width: 518px;
  height: 142px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
}
.answered-button {
  width: 160px;
  height: 56px;
  align-self: flex-end;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.answered-text19 {
  font-style: normal;
  font-weight: 500;
}
.answered-container18 {
  width: 100%;
  height: 134px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.answered-footer {
  width: 1486px;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.answered-text22 {
  margin-right: 400px;
}
.answered-text23 {
  margin-left: 0px;
}
@media(max-width: 991px) {
  .answered-icon10 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .answered-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .answered-nav {
    display: none;
  }
  .answered-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .answered-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .answered-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .answered-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .answered-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .answered-text23 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .answered-header {
    padding: var(--dl-space-space-unit);
  }
  .answered-icon-group {
    display: none;
  }
  .answered-mobile-menu {
    padding: 16px;
  }
  .answered-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .answered-text23 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
