{% extends "home.html" %}
{% block title %}User Page{% endblock %}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="/Ask_question">
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="query" name = "question" placeholder="text">
            <label for="query">Question</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
{% endblock%}